useDynLib(mibrr)
import(RcppEigen)
importFrom(Rcpp, evalCpp)
export(mibl,
       miben,
       mibrrW,
       mibrrL,
       drawInvGamma,
       drawMVN,
       calcIncGamma,
       drawInvGauss,
       ben,
       bl,
       simulateData,
       imposeMissing,
       predictMibrr,
       printObsIndices,
       printMissIndices)
