useDynLib(MIBRR)

import(RcppEigen)
import(methods)

importFrom(Rcpp, evalCpp)
importFrom(mice, mice, quickpred, complete)
importFrom(optimx, optimx)
importFrom(mvtnorm, rmvnorm)
importFrom(LaplacesDemon, rinvgamma, rinvchisq, rinvgaussian)
importFrom(HyperbolicDist, rgig)
importFrom(graphics, plot, lines, par)
importFrom(grDevices, rainbow)
importFrom(stats,
           anova,
           lm,
           pgamma,
           rexp,
           rgamma,
           rnorm,
           runif,
           sd,
           var,
           density,
           na.omit,
           ks.test,
           quantile,
           median)
importFrom(rlecuyer,
           .lec.SetPackageSeed,
           .lec.CreateStream,
           .lec.CurrentStream,
           .lec.ResetNextSubstream,
           .lec.GetState,
           .lec.DeleteStream,
           .lec.CurrentStreamEnd)
importFrom(coda, mcmc, mcmc.list, gelman.diag)

export(mibl,
       miben,
       mibrrW,
       mibrrL,
       ben,
       bl,
       postPredict,
       getImpData,
       getField,
       getParams,
       vanilla,
       bvr,
       ppCheck,
       plotLambda,
       getLambda)

### NOTE: The following non-exported, undocumented functions are available for
###       testing/debugging. See the relevant source code for details of their
###       implementation.

## drawInvGamma
## drawMvn
## calcIncGamma
## drawInvGauss
## printObsIndices
## printMissIndices
