useDynLib(MIBRR)
import(RcppEigen)
importFrom(Rcpp, evalCpp)
export(mibl,
       miben,
       mibrrW,
       mibrrL,
       ben,
       bl,
       predictMibrr)
   
### NOTE: The following non-exported, undocumented functions are available for
###       testing/debugging. See the relevant source code for details of their
###       implementation. 
## drawInvGamma
## drawMVN
## calcIncGamma
## drawInvGauss
## printObsIndices
## printMissIndices
